<div class="relative min-h-screen overflow-hidden font-[Varela_Round] font-playpen">
  <!-- רקע וידאו עם פוסטר -->
  <video autoplay muted loop playsinline class="absolute top-0 left-0 w-full h-full object-cover z-0">
    <source src="assets/video-bg.mp4" type="video/mp4" />
    הדפדפן שלך לא תומך בוידאו.
  </video>

  <!-- שכבת תוכן -->
  <div class="relative z-10 flex flex-col items-center justify-center min-h-screen bg-opacity-60 px-4">
    <p class="absolute top-10 text-gray-200 text-xl mb-8 animate-fade-slide delay-200">טעם של קפה חוויה של טבע</p>
    <h1 class="absolute top-28 font-playpen text-4xl text-white">קפה רָבִידָה</h1>
    <div class="absolute bottom-28 left-1/2 transform -translate-x-1/2">
      <button class="bg-white text-black border border-white hover:bg-gray-200 transition-all duration-300 
    rounded-full px-8 py-4 shadow-xl text-xl" routerLink="/menu">
        <i class="pi pi-bars mr-2"></i> לתפריט
      </button>
    </div>
  </div>